    body {
        /* background-color: white;
        background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
        background-size: 80px 140px;
        background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */
        background-image: url("/assets/patterns/prism/prism.png");
        /* padding-top: 55px; */
        
    }
    .color{
        background-color: red;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    /*Main navegation*/
    
    .navbar {
        background-color: #23578B;
    }
    
    .nav-item:hover {
        cursor: pointer;
        color: white !important;
    }
    #menu-principal_ul .nav-link{
        color: white;
        transition: all .18s ease-in;
    }
    /*Panel princial*/
    
    .jumbotron .container-fluid {
        min-height: 400px;
        background-color: #23578B;
        border-radius: 20px;
        position: relative;
    }
    /*Contenedor hidden */
    
    .contenedor-hidden {
        overflow: hidden;
        margin: 10px;
    }
    /*img circular*/
    
    .circle-img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 10px 10px #D8D8D8;
        /* box-shadow: 0px 0px 15px 15px #ec731e; */
        /* -webkit-box-shadow: 0px 0px 15px 15px #ec731e; */
        transition: all .4s ease-in-out;
    }
    /*Proyectos*/
    
    .contenedor-hidden:hover .card {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
    /*skills*/
    
    .skillset .card {
        background-color: transparent;
        border: none;

    }
    
    .skillset .card img {
        /* border: none; */
        height: 150px;
        max-height: 200px;
        /* width: 1em; */
    }

    /*Clases para animar elementos*/
    .animado{
        opacity: 0;
        transition: all .15s;

    }

    .mostrarArriba{
        animation: mostrarArriba 2s;
        opacity: 1;

    }

    @keyframes mostrarArriba{
        0%{
            transform: translateY(50px);
        }
        100%{
            transform: translateY(0);
        }
    }

    /*Mostrar de lado**/
    .animado-2{
        opacity: 0;
        transition: all .2s;
 
    }

    .mostrar-lado{
        animation: mostrarLado 2.2s;
        opacity: 1;
    }

    @keyframes mostrarLado{
        0%{
            transform: translateX(-300px);
        }
        100%{
            transform: translateX(0)
        }
    }
