    body {
        background-image: url("/assets/patterns/prism/prism.png");
        padding-top: 2em;
    }
    
    .color {
        background-color: red;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .scrollspy-example>div {
        min-height: 100vh;
        /* min-height: 00px; */
        padding: .5em .2em;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: red 1px solid; */
    }
    /*Main navegation*/
    
    .navbar {
        background-color: #23578B;
    }
    
    .nav-item:hover {
        cursor: pointer;
        color: white !important;
    }
    
    #menu-principal_ul .nav-link {
        color: white;
        transition: all .18s ease-in;
    }
    /*Panel princial*/
    
    .jumbotron {
        background-image: url("/assets/img/react_logo.png");
    }
    
    .jumbotron .container {
        /* min-height: 700px; */
        box-sizing: border-box;
        /* background-color: #23578B;
        border-radius: 20px; */
        /* position: relative; */
    }
    /*Contenedor hidden */
    
    .contenedor-hidden {
        overflow: hidden;
        /* margin: 10px; */
    }
    /*img circular*/
    
    .circle-img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 10px 10px #D8D8D8;
        /* box-shadow: 0px 0px 15px 15px #ec731e; */
        /* -webkit-box-shadow: 0px 0px 15px 15px #ec731e; */
        transition: all .4s ease-in-out;
    }
    /*Proyectos*/
    
    .proyectos {
        background-image: url("/assets/img/engranes.png");
    }
    
    .contenedor-hidden:hover .card {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
    /*skills*/
    
    .skills {
        background-image: url("/assets/img/react_logo.png");
    }
    
    .skills .card {
        background-color: transparent;
        border: none;
    }
    
    .skills .card img {
        /* border: none; */
        height: 150px;
        max-height: 150px;
        /* width: 1em; */
    }
    /*Experiencie*/
    
    .experience {
        background-image: url("/assets/img/engranes.png")
    }
    /*Formulario*/
    
    .form {
        background-image: url("/assets/img/react_logo.png");
    }
    /*Clases para animar elementos*/
    
    .animado {
        opacity: 0;
        transition: all .15s;
    }
    
    .mostrarArriba {
        animation: mostrarArriba 2s;
        opacity: 1;
    }
    
    @keyframes mostrarArriba {
        0% {
            transform: translateY(50px);
        }
        100% {
            transform: translateY(0);
        }
    }
    /*Mostrar de lado**/
    
    .animado-2 {
        opacity: 0;
        transition: all .2s;
    }
    
    .mostrar-lado {
        animation: mostrarLado 1s;
        opacity: 1;
    }
    
    @keyframes mostrarLado {
        0% {
            transform: translateX(-300px);
        }
        100% {
            transform: translateX(0)
        }
    }
    
    .parrallax {
        background-attachment: fixed;
        background-repeat: repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-blend-mode: luminosity;
    }